@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
    
}

.container {
    height: 100vh;
    width:  100%;
    background: rgb(140,133,255);
    background: linear-gradient(90deg, rgba(140,133,255,1) 0%, rgba(114,114,255,1) 35%, rgba(116,232,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


}

.card {
    height: 36rem;
    width: 26rem;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    row-gap: 2.5rem;
    border-radius: 1rem;
    background: rgba(20, 20, 20, 0.8);
    
}

.descrition-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}


.song-img {
    width: 100%;
    height: 16rem;
    display: block;
    margin-bottom: 1rem;
    border-radius: 1rem;
    object-fit: cover;
}


.song-title {
    margin-bottom: 0.25rem;
    font-family: 'Inter', 'sans serif';
    font-size: 1.25rem;
    color: rgba(255, 255, 255, .8);
}

.song-author {
    font-family: 'Inter', 'sans serif';
    font-size: 0.75rem;
    color: rgba(255, 255, 255, .4);
    font-weight: 200;
}


.bar-container {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: top;
    justify-content: center;
}

.button-container {
    width: 100%;
    height: fit-content;
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
    justify-content: center;
  
}

.button-background {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    background-color: rgb(122, 24, 214);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-background:hover {
    background-color: rgb(132, 0, 255);
   
}

.button-background:active {
    background-color: rgb(122, 24, 214);
   
}

svg {
    height: 2.5rem;
    width: 2.5rem;
    fill:  rgba(255, 255, 255, 0.9);
}

.hide {
    display: none;
}

.displayed {
    display: block;
}


.img-placeholder {
    width: 100%;
    height: 16rem;
    display: block;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: rgba(80, 80, 80, 1);
}
